.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150%;
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3),
        );
    background-size: cover;
    background-position: center;
}

input {
    padding:10px;
    /* margin: 10px 0px; */
    border-radius: 5px;
    border: 1px solid gray;
}

form {
    box-shadow: rgba(37, 10, 10, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 0px 60px;
    border-radius: 10px;
}

h1 {
    color: rgb(8, 80, 80);
    text-align: center;
}

.submitBtn {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    font-size: 18px;
    font-weight: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.form-label {
    display: flex;
    flex-direction: column;
    color: gray;
}